<div class="auth-form login-form">
  <mat-card>
    <form [formGroup]="loginForm">
      <h1>Авторизация</h1>

      <div class="auth-form__fields-container">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" required matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Пароль</mat-label>
          <input formControlName="password" required type="password" matInput>
        </mat-form-field>
      </div>

      <button (click)="onSubmit($event)" [disabled]="loginForm.invalid" mat-raised-button color="accent">Авторизоваться</button>

      <div class="auth-form__hint-container">Еще нет аккаунта? <a routerLink="/signup">Зарегистрироваться</a></div>

    </form>
  </mat-card>
</div>
