.main-container {
  height: calc(100vh - 60px);

  .sidebar {
    overflow: hidden;
    width: 200px;

    .btn.logout {
      display: block;
      position: absolute;
      bottom: 100px;
      left: 60px;
    }
  }

  .windrose-container {
    margin-top: 30px;
  }
}
